@import url('https://unpkg.com/tailwindcss@3.4.1/src/css/preflight.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-style: normal;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/*
==============================================
hatch
==============================================
*/
.hatch {
  animation-name: hatch;
  -webkit-animation-name: hatch;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;

  visibility: visible !important;
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scale(0.6);
  }
  20% {
    transform: rotate(-2deg) scale(1.55);
  }
  35% {
    transform: rotate(2deg) scale(1.5);
  }
  50% {
    transform: rotate(-2deg) scale(1.5);
  }
  65% {
    transform: rotate(1deg) scale(1.5);
  }
  80% {
    transform: rotate(-1deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(1.5);
  }
}

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scale(0.6);
  }
  20% {
    -webkit-transform: rotate(-2deg) scale(1.55);
  }
  35% {
    -webkit-transform: rotate(2deg) scale(1.5);
  }
  50% {
    -webkit-transform: rotate(-2deg) scale(1.5);
  }
  65% {
    -webkit-transform: rotate(1deg) scale(1.5);
  }
  80% {
    -webkit-transform: rotate(-1deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.5);
  }
}
